div {
  background-color: crimson;
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 5px;
  margin: 70px auto 30px auto;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
  opacity: 1;
}
.visible {
  opacity: 1;
  transform: scale(1);
}
.box-one {
  background-color: limegreen;
  height: 200px;
  width: 200px;
  border: 5px solid yellow;
  border-radius: 5px;
  margin: 70px auto 30px auto;
  text-align: center;
  font-size: x-large;
}
